
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>در حال ساخت</title>
</head>
<body>
    <section class="content" >
        <div>
            <br /><br /><br />
            <h3>این صفحه در حال آماده سازی می باشد و بزودی در دسترس خواهد بود.</h3>
        </div>
        </section>
</body>
</html>
