
@{
    ViewBag.Title = "Blank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">عدم دسترسی</h1>
            <h3 class="page-header"> شما دسترسی لازم جهت انجام عمیات درخواستی را ندارید در صورت نیاز با مدیر سیستم تماس بگیرید</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->