@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>خطا</title>
</head>
<body>
    <hgroup>
        <h1>خطا!</h1>
        <h2>درخواست داده شده با خطا مواجه شد</h2>
    </hgroup>
</body>
</html>
