
@font-face {
    font-family: 'Mrk';
    src: url('../fonts/Mrk.woff') format('woff'),
        url('../fonts/Mrk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mrk';
    src: url('../fonts/Mrk.eot');
    src: url('../fonts/Mrk.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MRKEN';
    src: url('../fonts/MRKEN.woff') format('woff'),
        url('../fonts/MRKEN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MRKEN';
    src: url('../fonts/MRKEN.eot');
    src: url('../fonts/MRKEN.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Mrk" ;
}